.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  font-family: Arial, sans-serif;
}

.logo {
  width: 120px;
}

h1 {
  font-size: 2rem;
}

.links {
  display: flex;
  gap: 20px;
}

.links a {
  text-decoration: none;
  padding: 10px 20px;
  border: 2px solid #dd0031;
  border-radius: 8px;
  color: #dd0031;
  font-weight: bold;
  transition: 0.3s;
}

.links a:hover {
  background-color: #dd0031;
  color: white;
}